body{
    display:flex;
    flex-wrap: wrap;
    background-color: #000000;
    color: white;
}
nav{
    flex:1 1 100%;
}
section{
    flex:1 1 55%;
    padding-right: 30px;
    justify-content: center;
}
aside{
    flex:1 1 40%;
    align-items: center;
}
.navbar{
    padding: 0px;
    background-color: #000000;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
nav ul{
    display:flex;
}
nav ul li{
    display:inline-block;
    cursor:pointer;
}

#searcher{
    flex:0 0 30%;
}
#searcher input{
    height: 44px;
    border-radius: 2px #FFFFFF30;
}
::placeholder{
    font-size: 20px;
}
#search{
    width: 100%;
}

.space{
    flex:2 2 1px;
    color:#000000;
    opacity: 0;
    cursor:auto;
}

.sicon{
    flex:0 0 auto;
    background-color:#FFFFFF30;
    border-radius: 2px;
    margin-right: 20px;
}
.micro{
    background-color: #FFFFFF30;
    border-radius: 50%;
}
ion-icon {
    font-size: 40px;
    color: white;
}
.yttext{
    font-size: 38px;
    color:white;
    font-weight: bold;
    letter-spacing: -3px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.yticon ion-icon{
    color:red;
    margin-left: 30px;
    margin-right: 5px;

}

.apps{
    margin-right: 10px;
    margin-left: 20px;
}

.user{
    margin-right: 10px;
    margin-left: 10px;
}

.ul-1{
    display:flex;
    flex-wrap: wrap;
    padding-left:0px
}

.ul-1 li{
    display: inline-block;
    flex: 0 1 100%;
}

.ul-2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px gray;
}
.ul-2 ul{
    padding-left:0px;
    display:flex;
    align-items: center;
    gap:10px;
    
}
.ul-2 ul li{
    display: inline-block;
    
}

.reproducciones{
    flex: 2 1 auto;
}

.promociones{
    margin-top:1em;
}
.sugerencias ul{
    display:flex;
    padding: 0;
    flex-wrap: wrap;
}
.sugerencias ul li{
    display: inline-block;
    border-radius: 10% / 50%;
    border: solid gray 1px;
    background-color: #FFFFFF1A; 
    flex:1 1 auto;
    padding:10px 20px;
    cursor: pointer;
    margin-right: 12px;
    margin-top: 2px;
    text-align: center;
}

.imagenes ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    
}
.imagenes ul li{
    display: inline-block;
    flex:0 1 100%;
    margin-bottom: 1em;
}
